$orange: #c08c6d; 
$yellow: #fed136;
$black: #374144;

html {
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  section {
    padding-top: 5rem;
    height: 600px;
    width: 80%;
    margin: auto;
  }
  
  .navbar {
    background: $black;
    // opacity: .9;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .navbar-inner {
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }
    ul {
      display: flex;
      justify-content: space-between;
    }
    a {
        color: #2C2C27;
        font-weight: 600;
    }
  }
  
  .navbar-list {
    display: flex;
    justify-content: space-between;
  }
  
  
  .navbar-list {
    flex-direction: column;
    justify-content: center;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0 1rem;
      padding: .5rem 1rem;
      list-style-type: none;
    }
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
  }
  
  .navbar-brand a {
    text-decoration: none;
    display: block;
    font-size: 2rem;
    padding: .5rem 1rem;
    list-style-type: none;
    color: $yellow;
  }
  
  #welcome {
    background-image: url(https://images.pexels.com/photos/104842/bmw-vehicle-ride-bike-104842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    .greating-box {
      background: $black;
      opacity: .8;
      width: 80%;
      .greating-lower, .greating-upper {
        text-align: center;
        padding: 1rem;
        color: white;
        font-weight: 600;
        padding: 2rem;
      }
      .greating-lower {
        font-size: 2rem;
      }
      .greating-upper {
        font-size: 3rem;
        
      }
      .greating-tell-me {
        display: flex;
        justify-content: center;
        padding: 2rem;
        button {
          padding: 1rem;
          background:#fed136;
          border: none;
          color: white;
        }
      }
    }
  }

  #nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .about-container {
      display: flex;
      div {
        width: 50%;
        padding: 2rem;
        h3 {
          text-align: center;
        }
        img {
          width: 100%;
          margin-top: 1rem;
        }
      }
    }
    
  }


//   bikes section

#motos {
  h2 {
    text-align: center;
  }
  .bikes-container {
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    .bike-card {
      overflow: hidden;
    }
  }
}




// team
#equipo {
  
  
  .team-container {
    display: flex;
    .team-card {
      .team-image {
        overflow: hidden !important;
        height: 175px;
      }
    }
  }
  h2 {
    text-align: center;
  }
  

}
#contacto {
  width: 100%;
  background-image: url(https://images.pexels.com/photos/1416169/pexels-photo-1416169.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .contact-container {
    display: flex;
    justify-content: center;
    width: 80%;
    form {
      display: flex;
      width: 100%;
      div {
        margin: 1rem;
        width: 50%;
      }
      input, textarea {
        // border: 1px solid $black;
        width: 95%;
        opacity: .7;
      }
      .single-input {
        input {
          padding: 1rem;
          margin-bottom: 1.5rem;
        }
      }
      .comment {
        textarea {
          padding: 1rem;
        }
      }
    }
  }
}




// common
.btn {
  padding: 1rem;
  background:#fed136;
  border: none;
  color: white;
}
.card {
  width: 30%;
  height: 175px;
  
  margin: 1rem;
  img {
      width: 100%;
  }
}

.team-card {

  .team-image {
    background: yellow;
    
  }
  .team-info {
    text-align: center;

    h4 {
      margin-bottom: 0;
    }
  }
  .social {
    display: flex;
    justify-content: center;
    i {
      margin: 1rem;
      cursor: pointer;
    }
    
  }
}